body {
  background: url(../img/main_1.jpg) 0 0 / 1920px 1080px no-repeat;
  font-family: 'Montserrat', sans-serif;
  min-width: 1500px;
}

.top_container {
  max-width: 1873px;
  max-height: auto;
  margin: 16px 35px 0px 12px;
  display: flex;
  justify-content: space-between;
}

.title_left {
  max-width: 529px;
  max-height: auto;
  color: #f0e5e5;
  font-size: 18px;
  font-weight: 400;
}

.text_title_left {
  display: inline;
}

#title_evsem {
  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline;
}

.menu {
  max-width: 600px;
  max-height: auto;
  display: inline;
}

.elements {
  display: inline;
  margin-right: 89px;
  color: #383030;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  transition: all 0.1s linear;
}
.elements:last-child {
  margin: 0;
}
.elements:hover {
  color: #383030;
  font-weight: 700;
}

.center_container {
  min-width: 1920px;
  max-height: auto;
}

.main_text {
  max-width: 1400px;
  max-height: auto;
  font-size: 70px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 382px auto 32px 150px;
}

.text_main_center {
  display: inline;
  color: #d7d2d2;
}

#text_forYou {
  display: inline;
  color: #1d1a1a;
}

.image {
  position: relative;
  top: -42px;
  left: 792px;
}
